In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("data/processed/processed_dataset.csv")
data

     LOCATION  TIME  PC_HEALTHXP  PC_GDP   USD_CAP FLAG_CODES  TOTAL_SPEND
0         AUS  1971       15.992   0.727    35.720    Unknown       462.11
1         AUS  1972       15.091   0.686    36.056    Unknown       475.11
2         AUS  1973       15.117   0.681    39.871    Unknown       533.47
3         AUS  1974       14.771   0.755    47.559    Unknown       652.65
4         AUS  1975       11.849   0.682    47.561    Unknown       660.76
...       ...   ...          ...     ...       ...        ...          ...
1031      USA  2011       11.855   1.939   965.580    Unknown    300935.91
1032      USA  2012       11.459   1.874   964.237    Unknown    302768.85
1033      USA  2013       11.384   1.858   980.864    Unknown    310154.01
1034      USA  2014       11.968   1.981  1081.402    Unknown    344495.16
1035      USA  2015       12.227   2.068  1162.399    Unknown    373009.91

[1036 rows x 7 columns]

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1036 entries, 0 to 1035
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   LOCATION     1036 non-null   object
 1   TIME         1036 non-null   int64
 2   PC_HEALTHXP  1036 non-null   float64
 3   PC_GDP       1036 non-null   float64
 4   USD_CAP      1036 non-null   float64
 5   FLAG_CODES   1036 non-null   object
 6   TOTAL_SPEND  1036 non-null   float64
dtypes: float64(4), int64(1), object(2)
memory usage: 56.8+ KB